RewriteEngine on


RewriteCond ${REQUEST_URI} ^.+$
RewriteCond %{REQUEST_FILENAME} \.(gif|jpe?g|png|js|css|swf|php|ico|txt|pdf|xml)$ [OR]
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -l
RewriteRule ^ - [L]


RewriteRule ^(.+)/(img|admin|css|fonts|ico|image|include|js|Gallery|Plugin|cke|Picture|Service)/(.*)$ $2/$3 [L]

RewriteRule ^Post(.*) Post.php?url=$1 [L,QSA]



RewriteRule ^Login(.*) login.php?code=$1 [L,QSA]